<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset your Password</title>
    {% include "users_auth_app/base_email.html" %}
  </head>
  <body>
    <p>Hello,</p>

    <p>We recently received a request to reset your password.</p>

    <p>
      <a href="{{ reset_link }}" class="link">Reset password</a>
    </p>

    <p>
      Please note that for security reasons, this link is only valid for 24
      hours.
    </p>

    <p>If you did not request a password reset, please ignore this email.</p>

    <div class="footer">
      <p>Best regards,</p>
      <p>Your Videoflix Team.</p>
    </div>
  </body>
</html>
