<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Success</title>
    {% include "users_auth_app/base_email.html" %}
  </head>
  <body>
    <p>Dear User,</p>

    <p>
      Your registration with <span>Videoflix</span> has been successfully
      completed and your email address has been verified.
    </p>

    <p>You can now start enjoying all the features of our service.</p>

    <p>
      If you did not perform this verification, please contact our support team
      immediately.
    </p>

    <div class="footer">
      <p>Best regards,</p>
      <p>Your Videoflix Team.</p>
    </div>
  </body>
</html>
